<head>
<style>
.menu{
position:relative;
right:50px;
}
.upload{
position:relative;
right:40px;
}
</style>
</head>
<center><h3>Upload Assignment </h3></center>
<br>
<center>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<select  name="dropdown" class="menu">
<option value="" hidden> choose course</option>	
{% for course in Courses %}

<option value="{{course}}" > {{course}}</option>

{% endfor %}
</select>

        {{ form.as_p }}
        <input type="submit" value="Upload"class="upload">
        <input type="reset" value="Reset">
    </form></center>



